#myModal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
#modalContent {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
#secretKeyContainer {
	background-color: #e6ffed; /* 亮绿色背景 */
	padding: 10px;
	margin-top: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#secretKeyValue {
	color: #25a55f; /* 深绿色文本 */
	font-weight: bold;
	margin-right: 10px;
}
.copy-btn {
	padding: 10px 20px;
	background-color: #4CAF50; /* 绿色背景 */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.copy-btn:hover {
	background-color: #45a049; /* 深绿色背景 */
}
#notificationContainer {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
}
.notification {
	display: flex;
	align-items: center;
	background-color: rgba(76, 175, 80, 0.9); /* 半透明绿色背景 */
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 0.5s, transform 0.5s;
}
.notification.show {
	opacity: 1;
	transform: translateX(0);
}
.notification.hide {
	opacity: 0;
	transform: translateX(100%);
}
.dollar-sign {
  font-style: italic;
  font-weight: bold;
  color: #4caf50;
}
