# The URL the site will be built for
base_url = "https://proxyxai.com"
title = "ğ‘·ğ’“ğ’ğ’™ğ’šğ‘¿ğ‘¨ğ‘°"
description = "ğ‘‹ğ´ğ¼ ğ´ğ‘ƒğ¼ ğ‘ƒğ‘Ÿğ‘œğ‘¥ğ‘¦,Providing a robust foundational support for pioneers in the AI industry"

# The site theme to use.
theme = "adidoks"

# The default language; used in feeds and search index
# Note: the search index doesn't support Chinese/Japanese/Korean Languages
default_language = "en"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to generate a feed file for the site
generate_feeds = true

# When set to "true", the generated HTML files are minified.
minify_html = false

# The taxonomies to be rendered for the site and their configuration.
taxonomies = [
  { name = "authors" }, # Basic definition: no feed or pagination
]

# Whether to build a search index to be used later on by a JavaScript library
# When set to "true", a search index is built from the pages and section
# content for `default_language`.
build_search_index = true

[search]
# Whether to include the title of the page/section in the index
include_title = true
# Whether to include the description of the page/section in the index
include_description = false
# Whether to include the rendered content of the page/section in the index
include_content = true

[markdown]
# Whether to do syntax highlighting.
# Theme can be customised by setting the `highlight_theme`
# variable to a theme supported by Zola
highlight_code = true

[extra]
# Put all your custom variables here
author = "xai"
github = "https://github.com/proxyxai/xai"
twitter = "https://x.com/proxyxai"
email = "support@proxyxai.com"

# If running on netlify.app site, set to true
is_netlify = true

# Set HTML file language
language_code = "en-US"

# Set theme-color meta tag for Chrome browser
theme_color = "#fff"

# More about site's title
title_separator = "|"   # set as |, -, _, etc
title_addition = "ğ‘·ğ’“ğ’ğ’™ğ’šğ‘¿ğ‘¨ğ‘°"


# Set date format in blog publish metadata
timeformat = "%B %e, %Y"      # e.g. June 14, 2021
timezone = "America/New_York"

# Edit page on reposity or not
edit_page = false
docs_repo = "https://github.com/proxyxai/xai"
repo_branch = "master"

## Math settings
# options: true, false. Enable math support globally,
# default: false. You can always enable math on a per page.
math = false
library = "katex" # options: "katex", "mathjax". default is "katex".

## Open Graph + X Cards
[extra.open]
enable = true
# this image will be used as fallback if a page has no image of its own
image = "images/icon.svg"
twitter_site = "proxyxai"
twitter_creator = "proxyxai"
og_locale = "en_US"
facebook_publisher = ""
facebook_author = ""

## JSON-LD
[extra.schema]
type = "Organization"
logo = "images/icon.svg"
twitter = "https://x.com/proxyxai"
linked_in = ""
github = "https://github.com/proxyxai/xai"
section = "blog"                           # see config.extra.main~url
## Sitelinks Search Box
site_links_search_box = false


# Menu items
[[extra.menu.main]]
name = "ğ‘«ğ’ğ’„ğ’”"
section = "docs"
url = "/docs/getting-started/tour/"
weight = 10

[[extra.menu.main]]
name = "ğ‘©ğ’ğ’ğ’ˆ"
section = "blog"
url = "/blog/"
weight = 20

[[extra.menu.social]]
name = "X"
pre = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" stroke="none" class="feather feather-x"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>'
url = "https://x.com/proxyxai"
weight = 10

[[extra.menu.social]]
name = "GitHub"
pre = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>'
url = "https://github.com/proxyxai/xai"
post = "v0.1.0"
weight = 20

[[extra.menu.social]]
name = "ğ—ğ€ğˆ"
pre = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="feather feather-ai"><path d="M17.304 3.541h-3.672l6.696 16.918H24Zm-10.608 0L0 20.459h3.744l1.37-3.553h7.005l1.369 3.553h3.744L10.536 3.541Zm-.371 10.223L8.616 7.82l2.291 5.945Z"/></svg>'
url = "//m.proxyxai.com"
weight = 30

# Footer contents
[extra.footer]
info = ''

[[extra.footer.nav]]
name = "Privacy"
url = "/privacy-policy/"
weight = 10

[[extra.footer.nav]]
name = "Terms of Service"
url = "/tos/"
weight = 20
